input[type=search]{
    width: 400px;
}

input:focus, textarea:focus, button:focus, select:focus{
  border-color: var(--bg-sidebar) !important;
}

input:not(.shadow-none):focus, textarea:not(.shadow-none):focus, button:not(.shadow-none):focus, select:not(.shadow-none):focus{
  box-shadow: 0 0 0 0.2rem var(--bg-shadow) !important;
}

button:not(.btn-dark):not(.btn-primary):not(.btn-secondary):not(.btn-danger):not(.btn-info):not(.btn-light):not(.btn-success):not(.bg-sidebar){
    color: var(--bg-dark);
    background-color: var(--bg-info);
}

button.bg-sidebar:hover{
    color: var(--bg-sidebar) !important;
    border: 1px solid var(--bg-sidebar) !important;
}

button.bg-sidebar:active{
    color: black !important;
}

button.bg-sidebar{
    color: white;
}

body{
    background-color: var(--bg-primary);
}

.card{
    background-color: white;
    cursor: pointer;
}

.card-body{
    background: white;/*linear-gradient(to top, #b8a89d, white);*/
}

.card .card-img-top{
    height: 180px;
}

.card .card-img-mini{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
}

.card .card-img-sub{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

.sidebar{
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    background-color: var(--bg-sidebar);
}

.sidebar li > div{
    padding-left: 20px;
}

.sidebar li > div li a{
    text-decoration: none;
}

.sidebar button:not(.collapsed) .caret-right, .sidebar button.collapsed .caret-down{
    display: none;
}

.sidebar .dropdown-menu{
    background-color: var(--bg-secondary);
}

.sidebar button{
    background-color: inherit !important;
    position: relative;
    z-index: 1000;
}

.sidebar .dropdown-menu button:hover{
    background-color: white !important;
}

.striped-list > div:nth-child(odd) {
    background-color: inherit;
}
  
.striped-list > div:nth-child(even) {
    background-color: rgb(255, 255, 255, 0.3);
}

.search-row{
    z-index: 1000;
    position: fixed;
    top: 0;
}

.row-with-search-above{
    padding-top: 130px;
}

.row-with-search-above-mini{
    padding-top: 80px;
}

input[type=datetime-local]{
    position: relative;
    user-select: none !important;
}
  
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    user-select: none;
    z-index: 2000;
    user-select: none !important;
}
  
.spinner-border{
    color: var(--bg-info);
}

.pointer{
    cursor: pointer;
}

.radio-community{
    background-color: white;
}

.radio-community input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    display: none;
}

.radio-community input[type="radio"]:checked + label {
    color: white;
    background-color: var(--bg-sidebar);
    border-color: var(--bg-sidebar);
}

.radio-community input[type="radio"]:not(:checked) + label:hover {
    border-color: transparent;
    background-color: rgb(0, 0, 0, 0.1) !important;
}

hr, table tr{
    border-color: var(--bg-sidebar) !important;
}

*.border:not(.border-danger):not(.border-info):not(.border-secondary):not(.border-dark):not(.border-warning):not(.border-success), 
.border-top:not(.border-danger):not(.border-info):not(.border-secondary):not(.border-dark):not(.border-warning):not(.border-success),
.border-bottom:not(.border-danger):not(.border-info):not(.border-secondary):not(.border-dark):not(.border-warning):not(.border-success){
    border-color: var(--bg-sidebar) !important;
}

.schedule-picker{
    width: 100%;
}

.schedule-picker > div > .card{
    background-color: var(--bg-secondary);
    height: 60px;
}

.schedule-picker .small{
    font-size: 11px;
}

.scrollbar-hidden::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
}

.text-brown{
    color: var(--bg-sidebar) !important;
}

.select-members-overlay{
    width: 100%;
    max-width: 500px;
    max-height: calc(100vh - 25px);
}

.message-left{
    background-color: white;
}

.message-left::after {
    content: "";
    position: absolute;
    top: -21px;
    left: 8px;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.message-right{
    background-color: var(--bg-sidebar);
}

.message-right::before {
    content: "";
    position: absolute;
    top: -0px;
    right: 0px;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--bg-sidebar) transparent;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.bg-sidebar{
    background-color: var(--bg-sidebar);
}

.text-sec{
    color: var(--bg-secondary);
}

.bg-sec{
    background-color: var(--bg-secondary);
}

.dropdown .dropdown-menu{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.alert{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.modal.fade.show{
    display: block !important;
}

.modal.fade{
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        display: none !important;
        z-index: 2000;
        transition: transform 0.3s ease;
    }

    .sidebar .flex-shrink-0{
        width: 100%;
        z-index: 1000;
        background-color: inherit;
    }

    .sidebar.show, .sidebar-backdrop.show {
        display: flex !important;
    }

    .sidebar-menu{
        z-index: 1500;
        background-color: var(--bg-sidebar);
    }

    .sidebar-menu button{
        color: white !important;
    }

    .sidebar-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.3);
        z-index: 900;
    }

    body{
        padding-top: 40px;
    }

    .search-row{
        width: 94vw;
        position: relative;
    }

    .search-row input, .search-row .border{
        width: 100%;
    }

    .row-with-search-above, .row-with-search-above-mini{
        padding-top: 0px;
    }

    .table.sm tr{
        display: block !important;
        border-bottom: 1px solid !important;
    }

    .table.sm tr td{
        display: block !important;
        border: none !important;
        padding: 3px 0;
    }

    .invited .w-50{
        width: 100% !important;
    }

    .invited .pe-5{
        padding-right: 0 !important;
    }

    .w-sm-100{
        width: 100% !important;
    }
}